aside[epub\:type~="footnote"],
aside[epub\:type~="endnote"],
div[epub\:type~="footnote"] {
  display: none !important;
}

note aside {
  display: none !important;
}

[role~="doc-footnote"],
[role~="doc-endnote"] {
  display: none !important;
}

.duokan-footnote-content,
.footnotes,
.footnote-container,
.endnotes,
.noteText {
  display: none !important;
}

a[epub\:type~="noteref"],
a[role~="doc-noteref"] {
  display: inline !important;
}

span.notes,
.notes {
  opacity: 0.7;
  text-decoration: underline dotted !important;
  cursor: pointer;
}